<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="__STATIC__/assets/back/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__STATIC__/assets/back/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="__STATIC__/assets/back/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="__CSS__/back/style.css" rel="stylesheet" />
    <link href="__CSS__/back/style_responsive.css" rel="stylesheet" />
    <link href="__CSS__/back/style_default.css" rel="stylesheet" id="style_color" />

    <link href="__STATIC__/assets/back/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/assets/back/uniform/css/uniform.default.css" />
    <link href="__STATIC__/assets/back/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="__STATIC__/assets/back/jqvmap/jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
</head>