{include file='common/head' /}
<title>望问津站点登录</title>
<body>
{include file='common/headmenu' /}

<!--<div class="banner banner_s"><img src="__STATIC__/upload/banner_a.jpg" alt=""/></div>-->

<div class="friend">
    <div class="b_head"><span>测试账号：</span></div>
    <div class="frd_m">
        <span>账户：user2&emsp;&emsp;&emsp;</span>
        <span>密码：123456</span>
    </div>
</div>

<iframe frameborder="0" src="{:url('publogin/log')}" width="100%" height="100%"></iframe>

{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
