
     <div class="i_mbr">
    	<div class="b_head"><span>参与案例</span>Examples</div>
    	<div class="tabBox_t">
            <div class="tabBox">
              <ul class="tabNav">
                <li class="now">案例一</li>
                <li>案例二</li>
              </ul>
              
              <div class="tabCont" style="display:block;">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="__STATIC__/upload/example1.jpg" alt=""/>
                            <!--<span class="play-btn"><img src="__STATIC__/img/index/icon6.png"></span>-->
                        </a>
                       <!--  <video class="video videoPlay" controls>
                            <source src="__STATIC__/img/index/movie.ogg">
                        </video> -->
                        <!-- <embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed> -->
                    </div>
                </div>
              </div>
              <div class="tabCont">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="__STATIC__/upload/example2.jpg" alt=""/>
                            <!--<span class="play-btn"><img src="__STATIC__/img/index/icon6.png"></span>-->
                        </a>
                        <!-- <video class="video videoPlay" controls>
                            <source src="__STATIC__/img/index/movie.ogg">
                        </video> -->
                        <!-- <embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed> -->
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div> 