{include file='common/head' /}
<title>望问津的云端站点</title>
<body>
{include file='common/headmenu' /}

{include file='index/banner' /}

<div class="space_hx">&nbsp;</div>

<div class="i_ma">
	<div class="i_name">
    	思维航向
        <p>Thinking Direction</p>
    </div>
    <div class="space_hx">&nbsp;</div>
    <ul class="clearfix">
    	<li>
        	<a href="{:url('News/index')}">
            	<img src="__STATIC__/img/index/p4.png" alt=""/>
                <h6>信息化研究</h6>
                <div class="des">
                	Exploring in Computer Science
                </div>
            </a>
        </li>
        <li>
        	<a href="{:url('News/index')}">
            	<img src="__STATIC__/img/index/p6.png" alt=""/>
                <h6>规划思考</h6>
                <div class="des">
                    Thoughts about Urban Planning
                </div>
            </a>
        </li>
        <li>
        	<a href="{:url('News/index')}">
            	<img src="__STATIC__/img/index/p1.png" alt=""/>
                <h6>旅行足迹</h6>
                <div class="des">
                    Footprint in My Travel
                </div>
            </a>
        </li>
        <li>
        	<a href="{:url('News/index')}">
            	<img src="__STATIC__/img/index/p3.png" alt=""/>
                <h6>人文观点</h6>
                <div class="des">
                	Cultural Viewpoints
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="space_hx">&nbsp;</div>

<div class="i_mb clearfix">
    {include file='index/newsindex' /}

    {include file='index/services' /}

    {include file='index/example' /} 
</div>


{include file='index/linkwho' /}

{include file='common/linkus' /}

{include file='common/footer' /}
</body>
</html>
