	<div class="i_mbl">
    	<div class="b_head">
            <a href="{:url('News/index')}"><span>贝海拾遗</span></a>Articles
        </div>
        <ul>
        	<li>
            	<a href="{:url('News/one')}">
                	<p>中国内地轨道交通规划初探</p>
                    <em>2018-03-10</em>
                </a>
            </li>
            <li>
            	<a href="{:url('News/index')}">
                	<p>更多文章待补充待补充啊啊</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="{:url('News/index')}">
                	<p>更多文章待补充待补充啊啊</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="{:url('News/index')}">
                	<p>更多文章待补充待补充啊啊</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="{:url('News/index')}">
                	<p>更多文章待补充待补充啊啊</p>
                    <em>2015-10-25</em>
                </a>
            </li>
        </ul>
    </div>