	<div class="i_mbl">
    	<div class="b_head">
            <a href="{:url('News/index')}"><span>贝海拾遗</span></a>Articles
        </div>
        <ul>
            {foreach name='newsindex' id='id' key='k'}
        	<li>
            	<a href='__URL__/../news/article.html?id={$newsindex["$k"]["id"]}'>
                	<p><?php echo mb_substr($newsindex["$k"]['title'],0,20,'utf-8');?></p>
                    <em><?php echo substr($newsindex["$k"]['cre_time'],0,10);?></em>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>