    <div class="i_mbc">
    	<div class="i_mbc1">
        	<dl class="clearfix">
            	<dt>
                	<b>更多功能</b>
                    More Function
                </dt>
                <dd>
                	<div class="m_search">
                    	<input name="" type="text">
                        <input name="" type="submit" value="">
                    </div>
                </dd>
            </dl>
            <div class="sq"><a href="">探索</a></div>
        </div>
        <ul class="clearfix">
        	<li>
            	<a href="">
                	<img src="__STATIC__/img/index/f1.png" alt=""/>
                    <span>金融信息</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="__STATIC__/img/index/f2.png" alt=""/>
                    <span>学习笔记</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="__STATIC__/img/index/f3.png" alt=""/>
                    <span>功能三</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="__STATIC__/img/index/f4.png" alt=""/>
                    <span>功能四</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="__STATIC__/img/index/f5.png" alt=""/>
                    <span>功能五</span>
                </a>
            </li>
            <li>&nbsp;</li>
        </ul>
    </div>   