
<div class="scd clearfix">
    <div class="scd_top">
        <div class="s_nav">
            <a href="" class="active"><span>公司简介</span></a>
            <a href=""><span>发展规划</span></a>
            <a href=""><span>品牌理念</span></a>
            <a href=""><span>项目介绍</span></a>
        </div>
        <div class="pst">
            当前位置：<a href="">首页</a>-<a href="">关于我们</a>
        </div>
    </div>
    <div class="about">
        <img src="__STATIC__/upload/pic8.jpg" width="410" height="180" alt=""/>
        <br/>
        <p style="clear:both; margin-top:20px;">第一部分：公司名称区域城市现状及趋势分析、服务中心改造定位、服务中心建设目标。</p>
        <p>第二部分：服务中心运营体系：包括服务中心平台架构、服务中心品牌体系两个方面</p>
        <p>第三部分：服务中心服务平台：包括基础硬件升级改造、服务平台落地、项目工作推进规划三个方面</p>
    </div>
</div>