<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Webservice in Atlanta</title>
</head>
<body>
<h1>心理测评系统测试版</h1>
<br/>
<a href="psy_pub/public/index.php/student/index/index.html">学生端登录界面</a>
<p>学生端测试账号：1401210001</p>
<p>密码为我们常用的测试密码</p>
<br/>
<a href="psy_pub/public/index.php/admin/index/index.html">管理端登录界面</a>
<p>管理端测试账号：pkuadmin</p>
<p>密码为我们常用的测试密码</p>
<br/>
<div class="bq">Copyright&copy;2017-2018&nbsp;&nbsp;<b>www.ptczn.cn</b>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18007602号</a></div>
</body>
</html>