{include file='common/head' /}
<title>望问津云端站点之贝海拾遗</title>
<body>
{include file='common/headmenu' /}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>随笔全文</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">贝海拾遗</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml">
        	<h1>中国内地轨道交通规划初探</h1>
            <div class="time">
            	<span>2018-03-10</span>
                <span>作者：望问津</span>
                <span>浏览次数：Null</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
            	<div class="des">
                	<p>[摘要] 从2009年美国发生金融危机以来至2018年2月，美国的GDP的年均增速只有2.1%，但是美国股市却开启了波澜壮阔的持续10年的超级牛市，道指从 6469点涨到 26616点，涨幅311.4%，纳指涨幅更是超过500%。原因是什么？</p>
                </div>
                <div class="ctn_m">
                    <p style="text-indent:2em;">作为成份股，科技板块涨幅远超大盘指数，且其占大盘权重持续上升，是大盘上涨的直接动力。当前标普500前五大市值公司苹果、谷歌、亚马逊、微软和脸书，全部都是科技公司，占标普 500总市值比例达到14.9%，科技板块市值占标普500比例更是高达25.3%，远超其他板块。</p>
                    <br/>
                    <p style="text-indent:2em;">2009年3月至今，谷歌、微软、苹果和亚马逊等科技巨头涨幅分别达到5.8倍、6.2倍、13.4倍和20.7倍。脸书2012年上市以来，涨幅也在3.8倍左右。</p>
                    <br/>
                    <div style="text-align:center"><img src="__STATIC__/upload/pic6.jpg" width="540" height="295" alt=""/></div>
                    <br/>
                    <p style="text-indent:2em;">他山之石可以攻玉，如果中国股市也能通过“独角兽”企业的回归，以及在国内发掘更多的新经济股IPO，以及通过并购重组上市，就能逐步改变目前以周期性大盘股为主的A股结构，吸引更多的投资者入市，促进新经济获得更大的发展，分享新经济带来的成果。那么，A股也同样具备走长期走牛的条件。</p>
                    <br/>
                </div>
            </div>
        </div>
        <div class="scd_mr">
        	<div class="box_h">
            	<span>当前攻坚</span>
                <a href="">更多</a>
            </div>
            <div class="box_m"><img src="__STATIC__/upload/pic4.jpg" alt=""/></div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>参与案例</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
            	<div class="videoRow-box">
                    <div class="rel">
                        <a href="#">
                            <img src="__STATIC__/upload/example1.jpg" alt=""/>
                            <!--<span class="play-btn"><img src="__STATIC__/img/index/icon7.png"></span>-->
                        </a>
                        <!--<video class="video videoPlay" controls>-->
                            <!--<source src="__STATIC__/img/index/movie.ogg">-->
                        <!--</video>-->
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>其他随笔</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
            	<ul>
                	<li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
