{include file='common/head' /}
<title>望问津云端站点之贝海拾遗</title>
<body>
{include file='common/headmenu' /}

<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>重点随笔</span>
                <div class="pst">
                    当前位置：<a href="">首页</a>-<a href="">贝海拾遗</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto"> <span class="goleft nextPage"><a href="javascript:void(0)"><img src="__STATIC__/img/index/prev.png"/></a></span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a href="{:url('News/one')}"><img src="__STATIC__/upload/pic7.jpg" alt=""/></a></div>
                        <div class="n_m">
                            <div class="title">
                                <span>{$sql['0']['cre_time']}</span>
                                <p class="name"><a href="{:url('News/one')}">{$sql['0']['title']}</a></p>
                            </div>
                            <div class="des">
                                <?php echo mb_substr($sql['0']['abstract'],0,70,'utf-8');?>...
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="goright prevPage"><a href="javascript:void(0)"><img src="__STATIC__/img/index/next.png" /></a></span> </div>
                <script>
                $(function(){
                $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                });	
                </script> 
            	<div class="n_m">
                    <div class="title">
                        <span>{$sql['1']['cre_time']}</span>
                        <p class="name"><a href="">{$sql['1']['title']}</a></p>
                    </div>
                    <div class="des">
                        <?php echo mb_substr($sql['1']['abstract'],0,70,'utf-8');?>...
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>近期随笔</span>
            </div>
            <div class="new_m">
        	<div class="n_m">
                <div class="title">
                    <span>{$sql['0']['cre_time']}</span>
                    <p class="name"><a href=""></a>{$sql['0']['title']}</p>
                </div>
                <div class="des">
                    <?php echo mb_substr($sql['0']['abstract'],0,70,'utf-8');?>...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>{$sql['1']['cre_time']}</span>
                    <p class="name"><a href="">{$sql['1']['title']}</a></p>
                </div>
                <div class="des">
                    <?php echo mb_substr($sql['1']['abstract'],0,70,'utf-8');?>...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>{$sql['2']['cre_time']}</span>
                    <p class="name"><a href="">{$sql['2']['title']}</a></p>
                </div>
                <div class="des">
                    <?php echo mb_substr($sql['2']['abstract'],0,70,'utf-8');?>...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>{$sql['3']['cre_time']}</span>
                    <p class="name"><a href="">{$sql['3']['title']}</a></p>
                </div>
                <div class="des">
                    <?php echo mb_substr($sql['3']['abstract'],0,70,'utf-8');?>...
                </div>
           </div>
        </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="">首页</a>
        <a href="">上一页</a>
        <a href="">下一页</a>
        <a href="">尾页</a>
    </div>
</div>

{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
