{include file='common/head' /}
<title>望问津云端站点之贝海拾遗</title>
<body>
{include file='common/headmenu' /}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>信息化研究</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">信息化研究</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml">
            <div class="news clearfix">
                <div class="new_m">
                    {foreach name='list1' id='id' key='k'}
                    <div class="n_m">
                        <div class="title">
                            <span><?php echo substr($list1["$k"]['cre_time'],0,10);?></span>
                            <p class="name"><a href='article.html?id={$list1["$k"]["id"]}'>{$list1["$k"]['title']}</a></p>
                        </div>
                        <div class="des">
                            <?php echo mb_substr($list1["$k"]['abstract'],0,70,'utf-8');?>...
                        </div>
                        <br>
                    </div>
                    {/foreach}
                </div>
            </div>
            <div align="center">
                <div class="layui-laypage" align="center">
                    {$page1}
                </div>
            </div>
        </div>
        {include file='news/rightnav' /}
    </div>
</div>
{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
