{include file='common/head' /}
<title>望问津云端站点之贝海拾遗</title>
<body>
{include file='common/headmenu' /}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="scd_top">
        <span>全部随笔</span>
        <div class="pst">
            当前位置：<a href="">首页</a>-<a href="">全部随笔</a>
        </div>
    </div>
    <div class="scd_m clearfix">
        <div class="scd_ml">
            <div class="news clearfix">
                <div class="new_m">
                    {foreach name='listall' id='id' key='k'}
                    <div class="n_m">
                        <div class="title">
                            <span><?php echo substr($listall["$k"]['cre_time'],0,10);?></span>
                            <p class="name"><a href='article.html?id={$listall["$k"]["id"]}'>{$listall["$k"]['title']}</a></p>
                        </div>
                        <div class="des">
                            <?php echo mb_substr($listall["$k"]['abstract'],0,70,'utf-8');?>...
                        </div>
                        <br>
                    </div>
                    {/foreach}
                </div>
            </div>

            <div align="center">
                <div class="layui-laypage" align="center">
                    {$pageall}
                </div>
            </div>
        </div>

        <div class="scd_mr">
            <div class="box_h">
                <span>当前攻坚</span>
                <a href="">更多</a>
            </div>
            <div class="box_m"><img src="__STATIC__/upload/pic4.jpg" alt=""/></div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
                <span>参与案例</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="#">
                            <img src="__STATIC__/upload/example1.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
                <span>贝海拾遗</span>
            </div>
            <div class="box_m">
                <ul>
                    <li><a href="{:url('news/newslist1')}">信息化研究</a></li>
                    <li><a href="{:url('news/newslist2')}">规划思考</a></li>
                    <li><a href="{:url('news/newslist3')}">旅行足迹</a></li>
                    <li><a href="{:url('news/newslist4')}">人文观点</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
