{include file='common/head' /}
<title>望问津云端站点之贝海拾遗</title>
<body>
{include file='common/headmenu' /}

<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>头条随笔</span>
                <div class="pst">
                    当前位置：<a href="">首页</a>-<a href="">贝海拾遗</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto"> <span class="goleft nextPage"><a href="javascript:void(0)"><img src="__STATIC__/img/index/prev.png"/></a></span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a href="{:url('News/one')}"><img src="__STATIC__/upload/pic7.jpg" alt=""/></a></div>
                        <div class="n_m">
                            <div class="title">
                                <span>2018-03-10</span>
                                <p class="name"><a href="{:url('News/one')}">中国内地轨道交通规划初探</a></p>
                            </div>
                            <div class="des">
                                北京地铁16号线北京地铁16号线北京地铁16号线北京地铁16号线北京地铁16号线北京地铁16号线北京地铁16号线...
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="goright prevPage"><a href="javascript:void(0)"><img src="__STATIC__/img/index/next.png" /></a></span> </div>
                <script>
                $(function(){
                $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                });	
                </script> 
            	<div class="n_m">
                    <div class="title">
                        <span>2018-01-01</span>
                        <p class="name"><a href="">第二条随笔</a></p>
                    </div>
                    <div class="des">
                        第二条随笔第二条随笔第二条随笔第二条随笔第二条随笔第二条随笔第二条随笔第二条随笔第二条随笔沙大酒店开始...
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>全部随笔</span>
            </div>
            <div class="new_m">
        	<div class="n_m">
                <div class="title">
                    <span>2017-12-01</span>
                    <p class="name"><a href="">第三条随笔</a></p>
                </div>
                <div class="des">
                    第三条随笔第三条随笔第三条随笔第三条随笔第三条随笔第三条随笔舉第三条随笔第三条随笔第三条随笔开始...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2017-09-24</span>
                    <p class="name"><a href="">第四条随笔</a></p>
                </div>
                <div class="des">
                    第四条随笔第四条随笔第四条随笔第四条随笔酒第四条随笔第四条随笔第四条随笔第四条随笔...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2017-04-08</span>
                    <p class="name"><a href="">第五条随笔</a></p>
                </div>
                <div class="des">
                    第五条随笔第五条随笔第五条随笔第五条随笔第五条随笔第五条随笔第五条随笔第五条随笔第五条随笔...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2016-07-14</span>
                    <p class="name"><a href="">第六条随笔</a></p>
                </div>
                <div class="des">
                    第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔第六条随笔...
                </div>
           </div>
        </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="">首页</a>
        <a href="">上一页</a>
        <a href="">下一页</a>
        <a href="">尾页</a>
    </div>
</div>

{include file='common/linkus' /}
{include file='common/footer' /}
</body>
</html>
