
<div class="scd_mr">
    <div class="box_h">
        <span>当前攻坚</span>
        <a href="">更多</a>
    </div>
    <div class="box_m"><img src="__STATIC__/upload/pic4.jpg" alt=""/></div>
    <div class="space_hx">&nbsp;</div>
    <div class="box_h">
        <span>参与案例</span>
        <a href="">更多</a>
    </div>
    <div class="box_m">
        <div class="videoRow-box">
            <div class="rel">
                <a href="#">
                    <img src="__STATIC__/upload/example1.jpg" alt=""/>
                    <!--<span class="play-btn"><img src="__STATIC__/img/index/icon7.png"></span>-->
                </a>
                <!--<video class="video videoPlay" controls>-->
                <!--<source src="__STATIC__/img/index/movie.ogg">-->
                <!--</video>-->
                <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="box_h">
        <span>其他随笔</span>
        <a href="{:url('News/newslistall')}">更多</a>
    </div>
    <div class="box_m">
        <ul>
            <li><a href='article.html?id={$rightnav["0"]["id"]}'>{$rightnav['0']['title']}...</a></li>
            <li><a href='article.html?id={$rightnav["1"]["id"]}'>{$rightnav['1']['title']}..</a></li>
            <li><a href='article.html?id={$rightnav["2"]["id"]}'>{$rightnav['2']['title']}...</a></li>
            <li><a href='article.html?id={$rightnav["3"]["id"]}'>{$rightnav['3']['title']}...</a></li>
            <li><a href='article.html?id={$rightnav["4"]["id"]}'>{$rightnav['4']['title']}...</a></li>
        </ul>
    </div>
</div>