<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="__STATIC__/img/index/logo.png" alt="公司logo"/></a></div>
        <div class="head_r clearfix">
        	<div class="search">
                <input name="" type="text">
                <input name="" type="submit" value="">
            </div>
            <div class="nav_m">
            <div class="n_icon">导航栏</div>
            <ul class="nav clearfix">
                <li class="now"><a href="{:url('Index/index')}">首页</a></li>
                <li><a href="{:url('About/index')}">关于望问津</a></li>
                <li><a href="{:url('News/index')}">贝海拾遗</a></li>
                <li class="er"><a href="">思维航向</a></li>
                <li><a href="{:url('Publogin/index')}">作者登录</a></li>
            </ul>
            <div class="er_m">
                <div class="hx">
                	<i>&nbsp;</i>
                	<div class="b_head">
                    	思维航向<em>Thinking Direction</em>
                    </div>
                    <div class="hx_m clearfix">
                    	<ul class="hx_ml">
                        	<li><a href="">信息化研究</a></li>
                            <li><a href="">规划思考</a></li>
                            <li><a href="">旅行足迹</a></li>
                            <li><a href="">人文观点</a></li>
                        </ul>
                        <div class="hx_mr"><img src="__STATIC__/upload/pic3.jpg" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>